@import 'button';

.comment-form {
    display: grid;
    margin-inline: auto;
    margin-block-end: 2rem;
    padding-block: 1rem 1rem;
    row-gap: 1rem;


     div {
        display: grid;
        row-gap: 0.5rem;


         label {
            align-self: center;
        }

         textarea {
            resize: none;
            block-size: 5rem;
        }

         input, textarea {
            padding: .5rem;
            font-size: 1.25rem;
            background-color: var(--clr-black);
            color: var(--clr-white);
        }

         input::-webkit-calendar-picker-indicator{
            background-color: dimgrey;
        }

        .alert {
            display: none;
        }

        .invalid {
            display: block;
            justify-self: flex-start;
            background-color: var(--clr-blue);
            color: var(--clr-black);
            padding: 0.25rem 0.5rem;
        }
    }



    .btn-container {

        & button {
            @include primary-button;
            background-color: var(--clr-blue);
            color: black;

            &:hover{
                background-color:var(--clr-blue);
                color: black;
                
            }
        }
    }
}


