@mixin button{
    padding-block: 1rem;
    padding-inline: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    border:2px solid transparent;
}



@mixin primary-button {
    @include button;
    background-color: dimgrey;
    color: white;

    &:hover {
        color: dimgrey;
        background-color: white;
        border: 2px solid dimgrey;
    }
}

@mixin secondary-button {
    @include button;
    background-color: white;
    color: dimgrey;

    &:hover {
        color: white;
        background-color: dimgrey;
    }
}

